.column {
  border: 2px solid #c5c5c5;
  padding: 10px;
}

.separator {
  border: 1px solid #c5c5c5;
  width: 95%;
  margin: 5px 0px;
}

.fbox {
  border-left: 2px solid #c5c5c5;
  border-right: 2px solid #c5c5c5;
  padding: 10px;
}

.fbox tbody .code-number {
  vertical-align: top;
  padding-top: 1%;
}

.fbox tbody pre {
  white-space: pre-wrap;
  font-size: 12px;
}

tt {
  background-color: #efefef;
  font-size: 10px;
}

tt tt {
  line-height: 9px;
}

pre {
  font-size: 12px;
}

/*文字の上に横線をつけるスタイル*/
.overline {
  text-decoration: overline;
}

table td {
  white-space: nowrap;
}
